.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 100, 0);
  padding: 4px 20px;
}

.button {
  display: flex;
  align-items: center;
  padding: 0px 12px;
  color: rgba(0, 0, 0, 0.5);
  background: none;
  border: none;
}

.button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.button:focus,
.button:active {
  outline: none;
  border: none;
}

.done {
  color: rgb(0, 175, 0);
}

.done:hover {
  color: rgb(0, 175, 0);
}

.button-text {
  color: rgba(0, 0, 0, 0.5);
  padding-right: 5px;
}

.button-text:hover {
  color: rgba(0, 0, 0, 0.6);
  padding-right: 5px;
}

.button-text-green {
  color: rgb(0, 175, 0);
  padding-right: 5px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  text-transform: capitalize;
  margin: 0;
}

.trash:hover {
  color: red;
}

.bi-trash {
  padding-bottom: 2px;
}
