.navbar {
  justify-content: space-between;
  margin-bottom: 15px;
  background: rgb(255, 100, 0);
  color: rgb(255, 255, 255);
}

.navbar-brand {
  text-transform: uppercase;
  margin: 0px 0px 0px 10px;
}

.logo {
  display: flex;
  align-items: center;
}
