.modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-width: 400px;
  text-align: center;
  margin: 0 20px;
}

.gray {
  background: rgba(90, 90, 90, 0.8);
  border: none;
}

.gray:hover {
  background: rgb(90, 90, 90);
}

.orange {
  background: rgba(255, 102, 0, 0.8);
  border: none;
}

.orange:hover {
  background: rgba(255, 102, 0);
}
